body{
  background-color: #d3d3d3;
}
*{
  margin: 0 auto;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
::-webkit-scrollbar {
  display: none;
}
button{
  cursor: pointer;
  border: none;
  outline: none;
}
input{
  outline: none;
  border: none;
}
a{
  text-decoration: none;
}
.blank{
  display: none;
}
.App{
  width: 100vw;
  height: 100vh;
  background-color: #d3d3d3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App .sidebar{
  width: 250px;
  height: calc(100vh - 20px);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: #fff;
  border-radius: 8px;
}
.sidebar .dashboardLogo{
  width: 150px;
  height: 40px;
  margin-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line{
  width: 100%;
  height: 1px;
  background-color: #d3d3d3 !important;
  border: none;
}
.sidebarProfile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
}
.sidebarProfile .bi{
  font-size: 100px;
  color: #363636;
  padding-top: 10px;
}
.sidebarProfile #employeeName{
  font-size: 26px;
  color: #363636;
  text-align: center;
}
.sidebarProfile #employeeID{
  font-size: 18px;
  color: #363636;
  margin: 5px 0;
  text-align: center;
}
.sidebar .sidebarMenu{
  margin-top: 20px;
  width: 100%;
  height: calc(100vh - 360.8px);
  overflow: scroll;
}
.sidebarMenu .sidebarMenuLink{
  color: #363636;
  font-size: 18px;
  width: 70%;
  float: right;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 10PX;
  margin-top: 2px;
}
.logoutdiv{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoutButton{
  float: right;
  font-size: 18px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #d3d3d3;
  border-radius: 5px;
}
.activeLink{
  background-color: #d3d3d3;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.App .Alertbar{
  width: 350px;
  height: calc(100vh - 20px);
  background-color: #fff;
  position: absolute;
  margin-top: 10px;
  margin-bottom: 10px;
  right: 10px;
  border-radius: 8px;
  top: 0;
}
.alertbarHeader{
    text-align: center;
    width: 100%;
    height: 60px;
    color: #363636;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}
.alertinfoWrapper{
  width: 100%;
  height: calc(50vh - 55px);
  margin-top: 5px;
}
.alertmapWrapper{
  width: calc(100% - 20px);
  height: calc(50vh - 55px);
  margin-top: 10px;
  border: #d3d3d3 solid 2px;
  border-radius: 8px;
}
.pageWrapper{
  width: calc(100vw - 640px);
  height: calc(100vh - 20px);
  position: absolute;
  top: 10px;
  left: 270px;
  border-radius: 8px;
}

/* ----------------- Dashboard ----------------- */

.searchWrapper{
  width: 100%;
  background-color: #fff;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.searchWrapper input{
  width: calc(97% - 40px);
  height: 40px;
  border-radius: 50px;
  padding-left: 20px;
  font-size: 18px;
  background-color: #fff;
}
#searchBtn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  background-color: #d3d3d3;
}
.boxWrapper{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.box{
  width: calc(33.7% - 10px);
  height: 250px;
  background-color: #fff;
  border-radius: 8px;
  margin: 0px;
}
.activeAlerts{
  width: 100%;
  height: calc(100% - 270px);
  background-color: #fff;
  border-radius: 8px;
  margin: 0px;
  margin-top: 10px;
  padding-bottom: 10px;
}
.activeAlerts h1{
  width: 100%;
  height: 60px;
  text-align: left;
  font-size: 25px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
.activeAlertWrapper{
  width: 100%;
  height: calc(100% - 61px);
  overflow: scroll;
}
.activeAlert{
  width: calc(100% - 20px);
  height: auto;
  margin-top: 10px;
  border: 2px solid #d3d3d3;
  border-radius: 8px;
  display: flex;
  justify-content:left;
}
.activeAlert .redBox{
  width: 30px;
  margin: 0px;
  margin-top: 3px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  background-color: red;
  border-radius: 8px;
}
.detailsHeader{
  width: 100px;
  margin: 0px;
}
.detailsHeader h3{
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 2px;
  margin-top: 3px;
}
.detailsContent{
  width: calc(100% - 400px);
  margin: 0px;
}
.detailsContent p{
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #d3d3d3;
  margin-bottom: 2px;
  margin-top: 2px;
  border-radius: 5px;
  padding-left: 5px;
}
.detailsAddress{
  height: 70px;
}
/* ----------------- Search ----------------- */

.mapWrapper{
  width: 100%;
  height: calc(100vh - 80px);
  margin-top: 10px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

/* ----------------- profile ----------------- */
.card {
  border: 1px solid #d3a5a5;
  background-color: #FFFFFF;
  border-radius: 8px;
  padding: 20px;
  width:95%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 ;
}

.card h1, .card p {
  font-size: 16px;
  margin: 0;
}

.card input[type="text"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #d3d3d3;
}


.button-container {
  text-align: center;
}

 button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px; /* Add margin to separate the buttons */
}
.h-increase{
  height:18%;
  
  
}

.right-aligned-btn{
  float:right;
}
ul {
  text-align: left; /* Center-align the entire list */
}

ul li {
  display: block;
  text-align: center; /* Reset text alignment for list items */
}
footer {
  background-color: #007BFF; /* Replace with your desired background color */
  color: #fff; /* Text color for the footer */
  text-align: center; /* Center-align text within the footer */
  padding: 10px 0; /* Add padding for spacing */
  border: 1px solid #007BFF;
  border-radius: 4px;
  position: fixed; /* Fix the footer position */
  bottom: 0;
  width:58%
}
.h2-align{
  text-align:center;
  color: #007BFF;
}
.left-align{
  text-align:left;
}

.center-align{
  text-align: left ; 
}

#saveButton {
  background-color:  #007BFF;
  color:white; 
  cursor: not-allowed; 
opacity: 0.5;
}

.incident-container {
  display: inline-block;
  width: 350px;
  margin: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-right: 50px;
}

/* Style for the input fields */
.incident-input {
  width: 90%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

/* Style for buttons */
.btn {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.edit-btn {
  background-color: #007BFF;
  color: #fff;
}

.save-btn {
  background-color: #28A745;
  color: #fff;
}
