body{
  background-color: #d3d3d3;
}
*{
  margin: 0 auto;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
::-webkit-scrollbar {
  display: none;
}
button{
  cursor: pointer;
  border: none;
  outline: none;
}
input{
  outline: none;
  border: none;
}
a{
  text-decoration: none;
}
.App{
  width: 100vw;
  height: 100vh;
  background-color: #d3d3d3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.App .sidebar{
  width: 250px;
  height: calc(100vh - 20px);
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  background-color: #fff;
  border-radius: 8px;
}
.sidebar .dashboardLogo{
  width: 150px;
  height: 40px;
  margin-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.line{
  width: 100%;
  height: 1px;
  background-color: #d3d3d3 !important;
  border: none;
}
.sidebarProfile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
}
.sidebarProfile .bi{
  font-size: 100px;
  color: #363636;
  padding-top: 10px;
}
.sidebarProfile #employeeName{
  font-size: 26px;
  color: #363636;
  text-align: center;
}
.sidebarProfile #employeeID{
  font-size: 18px;
  color: #363636;
  margin: 5px 0;
  text-align: center;
}
.sidebar .sidebarMenu{
  margin-top: 20px;
  width: 100%;
  height: calc(100vh - 360.8px);
  overflow: scroll;
}
.sidebarMenu .sidebarMenuLink{
  color: #363636;
  font-size: 18px;
  width: 70%;
  float: right;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 10PX;
  margin-top: 2px;
}
.logoutdiv{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logoutButton{
  float: right;
  font-size: 18px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #d3d3d3;
  border-radius: 5px;
}
.activeLink{
  background-color: #d3d3d3;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.App .Alertbar{
  width: 350px;
  height: calc(100vh - 20px);
  background-color: #fff;
  position: absolute;
  margin-top: 10px;
  margin-bottom: 10px;
  right: 10px;
  border-radius: 8px;
  top: 0;
}
.alertbarHeader{
    text-align: center;
    width: 100%;
    height: 40px;
    padding-top: 10px;
    color: #363636;
}
.alertinfoWrapper{
  width: 100%;
  height: calc(50vh - 50px);
  margin-top: 5px;
}
.alertmapWrapper{
  width: calc(100% - 20px);
  height: calc(50vh - 50px);
  margin-top: 10px;
  border: #d3d3d3 solid 2px;
  border-radius: 8px;
}
.pageWrapper{
  width: calc(100vw - 640px);
  height: calc(100vh - 20px);
  position: absolute;
  top: 10px;
  left: 270px;
  border-radius: 8px;
}

/* ----------------- Dashboard ----------------- */

.searchWrapper{
  width: 100%;
  background-color: #fff;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
.searchWrapper input{
  width: calc(97% - 40px);
  height: 40px;
  border-radius: 50px;
  padding-left: 20px;
  font-size: 18px;
  background-color: #fff;
}
#searchBtn{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  background-color: #d3d3d3;
}
.box{
  width: calc(33.7% - 10px);
  height: 250px;
  background-color: #fff;
  border-radius: 8px;
  margin: 0px;
}
.boxWrapper{
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* ----------------- Search ----------------- */

.mapWrapper{
  width: 100%;
  height: calc(100vh - 80px);
  margin-top: 10px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}